.bodyy {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightgrey;
    border-radius: 10px;
    border: 1px solid grey
}


.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 15px;

}

.add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}